<template>
  <div id="toolbar">
    <div>
      <location-favorite />
    </div>
    <div>
      <location-search />
    </div>    
    <div>
      <i class="fa fa-cog" v-on:click="handleEvent('settings')"></i>
    </div>
  </div>
</template>

<script>
import LocationFavorite from '@/components/location/LocationFavorite'
import LocationSearch from '@/components/location/LocationSearch'
import 'font-awesome/css/font-awesome.css'
export default {
  name: 'ToolbarComponent',
  components: {
    LocationFavorite,
    LocationSearch
  }
}
</script>

<style lang="scss" scoped>
div#toolbar {
  height: 15vh;
  width: 100%;
  padding: 2rem 1rem;
  background: transparent;
  text-align: right;
  div {
    display: inline-block;
    margin: 1rem;
    font-size: 1rem;
    color: white;
    text-decoration: none;
  }
}

.active {
  width: 15rem !important;
  margin: 0 0.5rem !important;
  padding: 0.5rem !important;
  border-bottom: 1px solid white !important;
}
</style>
