<template>
  <span id="container">
    <a id="btnSearch" v-on:click="expandSearchBar(true)">
      <i class="fa fa-search"></i>
    </a>
    <div id="searchWrapper">
      <input type="text" id="inputSearch" placeholder="Press Esc to close" ref="inputSearch" v-on:keyup="searchLocation()" v-on:keyup.27="closeResultsBox(); expandSearchBar(false)" v-model="searchTerm" v-bind:class="inputClass">
      <div id="locationSearchResultsBox" v-if="shouldOpenResultsBox">
        <ul v-if="shouldLoadSearchedLocations">
          <li v-for="(location, index) of searchedLocations" v-bind:key="index" v-on:click="setCurrentLocation(location)">{{location}}</li>
        </ul>
        <ul v-if="!shouldLoadSearchedLocations">
          <li v-for="(location, index) of locationSearchResults" v-bind:key="index" v-on:click="setCurrentLocation(location)">{{location}}</li>
        </ul>
      </div>
    </div>
  </span>
</template>

<script>
import Store from '@/vuex/Store'
import readSettings from '@/modules/readSettings.js'
import saveSettings from '@/modules/saveSettings.js'
import cities from 'cities.json'

export default {
  name: 'LocationSearch',
  data () {
    return {
      searchTerm: '',
      locationSearchResults: [],
      searchedLocations: [],
      isSearchBarActive: false,
      shouldLoadSearchedLocations: true
    }
  },
  computed: {
    shouldOpenResultsBox: function () {
      if (this.isSearchBarActive && (this.searchedLocations.length > 0 || this.locationSearchResults.length > 0)) {
        return true
      }
    },
    inputClass: function () {
      return this.isSearchBarActive ? 'active' : ''
    }
  },
  watch: {
    shouldLoadSearchedLocations: {
      handler: function (updatedValue) {
        if (updatedValue === true) { this.loadSearchedLocations() }
      }
    }
  },
  mounted () {
    this.loadSearchedLocations()
  },
  methods: {
    expandSearchBar: function (value) {
      this.isSearchBarActive = value
      if (value) { this.$refs.inputSearch.focus() }
    },
    // Autocomplete suggestions
    searchLocation: function () {
      if (!this.isSearchBarActive) return
      this.shouldLoadSearchedLocations = false
      this.locationSearchResults = []
      let matches = []
      let searchTerm = this.searchTerm.toLowerCase()
      for (let city of cities) {
        if (matches.length < 5) {
          if (city.name.toLowerCase().indexOf(searchTerm) !== -1) matches.push(city.name + ', ' + city.country)
        } else break
      }
      this.locationSearchResults = matches
    },
    loadSearchedLocations: function () {
      let settings = readSettings()
      this.searchedLocations = settings.searchedLocations
    },
    saveSearchedLocation: function (location) {
      let settings = readSettings()
      let doesLocationAlreadyExist = false
      for (let searchedLocation of settings.searchedLocations) {
        if (location === searchedLocation) {
          doesLocationAlreadyExist = true
          break
        }
      }
      if (!doesLocationAlreadyExist && location) {
        settings.searchedLocations.push(location)
        saveSettings(settings)
      }
    },
    setCurrentLocation: function (location) {
      // Save current location as last viewed location for next start
      let settings = readSettings()
      settings.lastLocation = location
      saveSettings(settings)

      Store.commit('setCurrentLocation', location)
      this.saveSearchedLocation(location)
      this.closeResultsBox()
    },
    closeResultsBox: function () {
      this.isSearchBarActive = false
      this.shouldLoadSearchedLocations = true
    }
  }
}
</script>

<style lang="scss" scoped>
a#btnSearch {
  color: white;
  text-decoration: none;
}

div#searchWrapper {
  display: inline-block;
  input {
    position: relative;
    width: 0;
    color: white;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    border: none;
    transition: 0.2s;
  }
  input:focus {
    outline: none;
  }
  div#locationSearchResultsBox {
    position: absolute;
    height: 10rem;
    width: 15rem;
    margin: 1rem 0.5rem;
    overflow-y: scroll;
    text-align: left;
    color: #555555;
    background: rgba(255, 255, 255, 0.9);
    ul {
      padding: 0 0.5rem;
      li {
        padding: 0.25rem;
        border-bottom: 1px solid #888888;
        list-style-type: none;
        transition: 0.2s;
        cursor: pointer;
      }
    }
  }
}

.active {
  width: 15rem !important;
  margin: 0 0.5rem !important;
  padding: 0.5rem !important;
  border-bottom: 1px solid white !important;
}
</style>
