<template>
  <span id="container">
    <a id="btnFavorite" v-on:click="setFavoriteLocation()">
      <i v-bind:class="isFavoriteLocation ? 'fa fa-star' : 'fa fa-star-o'"></i>
    </a>
  </span>
</template>

<script>
import Store from '@/vuex/Store'
import readSettings from '@/modules/readSettings.js'
import saveSettings from '@/modules/saveSettings.js'
import 'font-awesome/css/font-awesome.css'
export default {
  name: 'LocationFavorite',
  data () {
    return {
      isFavoriteLocation: false
    }
  },
  computed: {
    currentLocation: function () {
      return Store.state.currentLocation
    }
  },
  mounted () {
    this.checkFavoriteLocation()
  },
  methods: {
    checkFavoriteLocation: function () {
      let settings = readSettings()
      if (this.currentLocation === settings.favoriteLocation) {
        this.isFavoriteLocation = true
        console.log(true)
      } else console.log(false)
    },
    setFavoriteLocation: function () {
      if (!this.isFavoriteLocation) {
        let settings = readSettings()
        settings.favoriteLocation = this.currentLocation
        saveSettings(settings)
        this.isFavoriteLocation = true
      }
    }
  }
}
</script>

<style lang="scss" scoped>
span {
  a {
    i {
      font-family: 'Font Awesome\ 5 Free';
      font-style: normal;
    }
  }
}

</style>
