<template>
  <div id="container">
    <div class="row" id="contentWrapper">
      <weather />
    </div>
  </div>
</template>

<script>
import Store from '@/vuex/Store'
import Weather from '@/components/weather/WeatherComponent'
import readSettings from '@/modules/readSettings.js'
export default {
  name: 'MainView',
  components: {
    Weather
  },
  mounted () {
    this.loadLocation()
  },
  methods: {
    loadLocation: function () {
      let settings = readSettings()
      let savedLocation = settings.favoriteLocation || settings.lastLocation || settings.searchedLocations[settings.searchedLocations.length - 1]
      let currentLocation = savedLocation || 'Add new location'
      Store.commit('setCurrentLocation', currentLocation)
    }
  }
}
</script>

<style lang="scss" scoped>
div#container {
  width: 80%;
  margin: auto;
}
div#contentWrapper {
  margin: auto;
}
</style>

