<template>
  <div>
    <div class="row">
      <div id="weatherToday">
        <weather-today />
      </div>
      <div id="weatherForecast">
        <weather-forecast />
      </div>
      <div id="weatherRadar">
        <weather-radar />
      </div>
    </div>
  </div>  
</template>

<script>
import WeatherToday from './WeatherToday'
import WeatherForecast from './WeatherForecast'
import WeatherRadar from './WeatherRadar'
export default {
  name: 'weather',
  components: {
    WeatherToday,
    WeatherForecast,
    WeatherRadar
  }
}
</script>

<style lang="scss" scoped>
  .row {
    margin: 0;
    padding: 0;
  }
</style>
