<template>
  <div id="container">
    <div id="currentLocation">
      {{currentLocation}}
    </div>
    <div id="weather" class="row">      
      <i v-bind:class="weatherIcon"></i>
      {{weatherData.data.main.temp}}&deg;{{tempUnit === 'metric' ? 'C' : 'F'}}
      <sup><i id="refresh" v-bind:class="updatingWeather ? 'rotate fa fa-refresh' : 'fa fa-refresh'" v-on:click="fetchWeather()"></i></sup>
      <div id="weatherText">
        {{weatherData.data.weather[0].main}}
      </div>
    </div>
    <div id="otherDetails" class="row">
      <div class="detail">
        <i id="wind" class="wi wi-strong-wind"></i>
        <span class="detail-title">Wind</span>
        {{weatherData.data.wind.speed}} {{tempUnit === 'metric' ? 'km/h' : 'mph'}}
      </div>
      <div class="detail">
        <i id="raindrop" class="wi wi-raindrop"></i>
        <span class="detail-title">Humidity</span>
        {{weatherData.data.main.humidity}}%
      </div>
      <div class="detail">
        <i id="showers" class="wi wi-cloud"></i>
        <span class="detail-title">Clouds</span>
        {{weatherData.data.clouds.all}}%
      </div>        
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Store from '@/vuex/Store'
import getWeatherIcon from '@/modules/getWeatherIcon.js'
import credentials from '@/assets/credentials.json'
import '@/assets/fonts/weather-icons/css/weather-icons.min.css'

export default {
  name: 'WeatherToday',
  data () {
    return {
      weatherData: {
        data: {
          main: {
            temp: 0,
            humidity: 0
          },
          wind: {
            speed: 0
          },
          clouds: {
            all: 0
          },
          weather: [
            {
              main: 'Weather information not available'
            }
          ]
        }
      },
      weatherIcon: '',
      backgroundImage: '',
      updatingWeather: false
    }
  },
  computed: {
    currentLocation: function () {
      return Store.state.currentLocation
    },
    tempUnit: function () {
      return Store.state.tempUnit
    }
  },
  mounted () {
    if (this.currentLocation) { this.fetchWeather() }
  },
  watch: {
    currentLocation: {
      handler: function (updatedLocation) {
        this.fetchWeather()
      }
    }
  },
  methods: {
    fetchWeather: function () {
      if (this.currentLocation === 'Add new location') return
      this.updatingWeather = true
      // Call API to get weather and forecast. Store both in state Store. Forecast data handled by forecast component
      axios.get(`http://api.openweathermap.org/data/2.5/weather?q=${this.currentLocation}&units=${this.tempUnit}&appid=${credentials.owmAppID}`)
        .then((receivedWeatherData) => {
          if (!receivedWeatherData) console.log('Unable to fetch')
          this.weatherData.data = receivedWeatherData.data
          Store.commit('storeWeatherData', receivedWeatherData.data)
          let code = receivedWeatherData.data.weather[0].id
          this.weatherIcon = getWeatherIcon(code)
        })
        .then(() => {
          // Wait for 2 secs before removing the class to ensure complete rotation
          setTimeout(() => {
            this.updatingWeather = false
          }, 2000)
        })
        .catch((err) => {
          console.log(err)
        })
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '~typeface-roboto/index.css';

  .row, .columns {
    margin: 0;
    padding: 0;
  }

  div#container {
    width: 90%;
    margin: 1rem auto;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }

  div#currentLocation {
    font-size: 1.25rem;
    font-weight: 400;
  }
  div#weather {
    font-size: 5rem;
    font-weight: 100;
    div#weatherText {
      @extend div#currentLocation;
    }
    i {
      color: white;
    }
    i#refresh {
      font-size: 2rem;
    }
  }
  
  div#otherDetails {
    margin: 2rem auto;
    div.detail {
      display: inline-block;
      margin: 0 3rem;
      font-size: 1rem;
      span.detail-title {
        padding: 0 1rem;
        font-weight: 600;
      }
      i {
        margin-right: -0.5rem;
        color: white;
      }
    }
  }
  .rotate {
    transform: rotate(360deg);
    transition: 1s;
  }
  /* i#wind, i#raindrop, i#showers {
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  i#wind {
    animation-name: fadein;
  }
  i#raindrop {
    animation-name: fadedown;
  }
  i#showers {
    animation-name: slide;
    animation-duration: 3s;
  } */
  @keyframes fadein {
    from {
      transform: translateX(-30px);
      opacity: 0;
    }

    to {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  @keyframes fadedown {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }

    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  @keyframes slide {
    0% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(-10px);
    }
  }
</style>
