<template>
  <div id="container">
    <div id="dailyForecast">
      <span v-for="(forecast, index) of dailyForecast" v-bind:key="index" >
        <div class="forecast-day">
          {{forecast.day}}, {{forecast.date}}
        </div>
        <i v-bind:class="forecast.weatherIcon"></i>
        <div class="forecast-temp">
          {{forecast.temp.min}} / {{forecast.temp.max}}
        </div>
        <div class="forecast-weather">
          {{forecast.weather}}
        </div>      
      </span>
    </div>
    <div id="chartContainer">
      <h1>
        Hourly Forecast
      </h1>
      <forecast-chart id="chart" v-if="chartDataProp.labels.length === 10" v-bind:chartData="chartDataProp" v-bind:tempLimits="tempLimitsProp"/>
    </div> 
  </div>
</template>

<script>
import axios from 'axios'
import Store from '@/vuex/Store'
import ForecastChart from './WeatherForecastChart'
import credentials from '@/assets/credentials.json'
import getWeatherIcon from '@/modules/getWeatherIcon.js'
import readSettings from '@/modules/readSettings.js'

export default {
  name: 'WeatherForecast',
  components: {
    ForecastChart
  },
  computed: {
    currentLocation: function () {
      return Store.state.currentLocation
    },
    tempUnit: function () {
      return Store.state.tempUnit
    }
  },
  watch: {
    currentLocation: {
      handler: function () {
        this.fetchForecast()
      }
    }
  },
  data () {
    return {
      hourlyForecastData: {
        list: [
          {
            dt: 0,
            main: {
              temp: 0
            }
          }
        ]
      },
      dailyForecastData: {
        list: [
          {
            dt: 0,
            main: {
              min: 0,
              max: 0
            },
            weather: [
              {
                id: 0,
                main: 'N/A'
              }
            ]
          }
        ]
      },
      dailyForecast: [],
      chartDataProp: {
        labels: ['0'],
        datasets: [
          {
            backgroundColor: 'rgba(255,255,255,0.25)',
            borderColor: '#ffffff',
            data: ['0']
          }
        ]
      },
      tempLimitsProp: {
        min: 0,
        max: 0
      }
    }
  },
  mounted () {
    if (this.currentLocation) { this.fetchForecast() }
  },
  methods: {
    fetchForecast: function () {
      if (this.currentLocation === 'Add new location') return
      axios.get(`http://api.openweathermap.org/data/2.5/forecast?q=${this.currentLocation}&units=${this.tempUnit}&appid=${credentials.owmAppID}&cnt=10`)
        .then((receivedHourlyForecastData) => {
          axios.get(`http://api.openweathermap.org/data/2.5/forecast/daily?q=${this.currentLocation}&units=${this.tempUnit}&appid=${credentials.owmAppID}&cnt=8`)
            .then((receivedDailyForecastData) => {
              this.hourlyForecastData = receivedHourlyForecastData.data
              this.dailyForecastData = receivedDailyForecastData.data
              this.extractData()
            })
            .catch((err) => {
              console.log(err)
            })
        })
        .catch((err) => {
          console.log(err)
        })
    },
    extractData: function () {
      this.dailyForecast = []
      this.chartDataProp.labels = []
      this.chartDataProp.datasets[0].data = []
      let minTemp = 999 // arbitrary positive temp limit
      let maxTemp = -999 // arbitrary negative temp limit

      for (let forecastData of this.hourlyForecastData.list) {
        let time = this.getTime(forecastData.dt)
        let formattedTime = `${time.hr} ${time.suffix}`
        let temp = forecastData.main.temp.toFixed(0)

        this.chartDataProp.labels.push(formattedTime)
        this.chartDataProp.datasets[0].data.push(temp)

        if (temp < minTemp) {
          minTemp = temp
        } else if (temp > maxTemp) {
          maxTemp = temp
        }
      }
      if (minTemp > -999 && maxTemp < 999) {
        this.tempLimitsProp.min = parseInt(minTemp) - 10
        this.tempLimitsProp.max = parseInt(maxTemp) + 10
      }

      for (let forecastData of this.dailyForecastData.list) {
        let forecastDataObj = {
          temp: {
            min: 0,
            max: 0
          },
          weatherIcon: '',
          hr: 0,
          day: ''
        }
        let time = this.getTime(forecastData.dt)
        const code = forecastData.weather[0].id
        forecastDataObj.temp.min = forecastData.temp.min.toFixed(0)
        forecastDataObj.temp.max = forecastData.temp.max.toFixed(0)
        forecastDataObj.day = time.day
        forecastDataObj.date = time.date
        forecastDataObj.weather = forecastData.weather[0].main
        forecastDataObj.weatherIcon = getWeatherIcon(code)
        this.dailyForecast.push(forecastDataObj)
      }
      this.dailyForecast = this.dailyForecast.slice(1)
    },
    getTime: function (timestamp) {
      let timeObj = {
        hr: 0, day: '', suffix: ''
      }
      let settings = readSettings()
      let date = new Date(timestamp * 1000)
      let dayArray = []

      timeObj.hr = date.getHours()
      if (settings.timeFormat === '12') {
        if (timeObj.hr > 12) {
          timeObj.hr -= 12
          timeObj.suffix = 'pm'
        } else {
          timeObj.suffix = 'am'
        }
      }
      const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
      dayArray = days[date.getDay()].split('')
      dayArray.splice(3, dayArray.length)
      timeObj.day = dayArray.join('')
      timeObj.date = date.getDate()

      return timeObj
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~/typefaces-roboto/index.css';

div#chartContainer {
  max-width: 90%;
  margin: 1rem auto;
  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.75rem;
    color: white;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }
}

div#dailyForecast {
  margin: 1rem auto;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  span {
    display: inline-block;
    margin: 2rem;
    div.forecast-day, div.forecast-weather {
      font-weight: 400;
    }
    div.forecast-temp {
      font-size: 1.5rem;
      font-weight: 400;
    }
    i {
      padding: 1rem;
      font-size: 1.5rem;
    }
  }
}

</style>
