<template>
  <div id="app"  v-bind:style="style">
    <toolbar-component id="toolbar"/>
    <main-view id="mainView"/>
  </div>
</template>

<script>
import Store from '@/vuex/Store'
import MainView from '@/components/views/MainView'
import ToolbarComponent from '@/components/ToolbarComponent'
import 'foundation.css/build/grid.css'

export default {
  name: 'App',
  components: {
    ToolbarComponent,
    MainView
  },
  computed: {
    weatherData: function () {
      return Store.state.weatherData
    },
    style: function () {
      if (!this.weatherData) return { background: '#222222' }
      return {
        'background-image': 'linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(' + this.backgroundImage + ')'
      }
    }
  },
  watch: {
    weatherData: {
      handler: function (updatedData) {
        this.backgroundImage = this.setBackground()
      }
    }
  },
  data () {
    return {
      backgroundImage: ''
    }
  },
  mounted () {
    if (!this.weatherData.main) return
    this.backgroundImage = this.setBackground()
  },
  methods: {
    setBackground: function () {
      const basePath = '/src/renderer/assets/images'
      let weatherID = this.weatherData.weather[0].id.toString().split('')
      let icon = this.weatherData.weather[0].icon.split('')
      let dayNightCode = icon[icon.length - 1]
      let randomInt = this.getRandomArbitrary(0, 4)
      let imagePath = ''

      if (weatherID[0] === '2') {
        imagePath = basePath + '/thunderstorm/'
      } else if (weatherID[0] === '3') {
        imagePath = basePath + '/drizzle/'
      } else if (weatherID[0] === '5') {
        imagePath = basePath + '/rain/'
      } else if (weatherID[0] === '6') {
        imagePath = basePath + '/snow/'
      } else if (weatherID[0] === '7') {
        imagePath = basePath + '/atmosphere/'
      } else if (weatherID[0] === '8' && weatherID[1] === '0') {
        imagePath = basePath + '/clouds/'
      } else if (weatherID[0] === '8' && weatherID[1] === '0' && weatherID[2] === '0') {
        imagePath = basePath + '/clear/'
      }
      // Suffix day/night path in possible conditions
      if (weatherID[0] === '6' || weatherID[0] === '7' || weatherID[0] === '8') {
        if (dayNightCode === 'n') {
          imagePath += 'night/'
        } else {
          imagePath += 'day/'
        }
      }
      imagePath += randomInt + '.jpg'
      return imagePath
    },
    getRandomArbitrary: function (min, max) {
      return Math.floor((Math.random() * (max - min) + min))
    }
  }
}
</script>

<style lang="scss">
  html {
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    padding: 0;
  }
  .row, .columns {
    margin: 0;
    padding: 0;
  }
  .row {
    max-width: 100rem;
  }

  div#app {
    min-height: 100vh;
    background-color: #222;
    background-attachment: fixed !important;
    background-size: cover !important;
  }
  
  #toolbar {
    position: fixed;
  }

  #mainView {
    padding-top: 3rem;
  }

  ::-webkit-scrollbar {
    width: 0;
  }
  
</style>